
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>API</title>
    <style type="text/css">
        TABLE {
            width: 90%; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }
        TR:nth-child(2n) { /*четная строка*/
            background: #f0f0f0; /* Цвет фона */
        } 
        TD, TH {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid black; /* Параметры рамки */
        }

        TH {
            background: #b0e0e6; /* Цвет фона */
        }
    </style>
</head>
<body>
        <div>
            <h3>API</h3>
            <table>
                <tr>
                    <th><p>Ссылка</p></th>
                    <th><p>Тип</p></th>
                    <th><p>Требуется авторизация</p></th>
                    <th><p>Возвращает</p></th>
                    <th><p>Параметры</p></th>
                    <th><p>Описание</p></th>
                </tr>
                @{ 
                    Pizza.Models.API old = null;
                }
                @foreach (var a in ViewBag.Apis)
                {
                    string divider = "";
                    if (old != null)
                    {
                        if (!old.url.Substring(0, old.url.IndexOf('/') - 1).Equals(a.url.Substring(0, a.url.IndexOf('/') - 1)))
                        {
                            divider = "<tr><td colspan=\"6\"><br /></td></tr>";
                        }
                    }
                    @Html.Raw(divider)
                    <tr>
                        <td><a href="@a.url">@a.url</a></td>
                        <td>@a.type</td>
                        <td><b>@if (a.requireToken) { @Html.Raw("+"); } else { @Html.Raw("-");}</b></td>
                        <td>@a.returns</td>
                        <td>@a.parameters</td>
                        <td>@a.description</td>
                    </tr>
                    old = a;
                }
            </table>
            <br /><p>В функции, которые требуют авторизации, необходимо передавать хэш токена в параметре 'token'.</p>
            <br /><p>Время жизни access token указано в минутах.</p>
        </div>
</body>
</html>
